@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --cor-primaria:#36D6AD;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #FC7071;
    --cor-quartenaria: #3772FF;
    --cor-quinaria:#737380;
    --cor-senaria:#F6F6F6;
    --cor-septenaria:#BCBCBC;

    --fonte: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--fonte);
}

#tela-inicial {
    background-color: var(--cor-quartenaria);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

#tela-cadastro {
    background-color: var(--cor-secundaria);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

header {
    background-color: var(--cor-primaria);
}
