@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --cor-primaria:#36D6AD;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #FC7071;
    --cor-quartenaria: #3772FF;
    --cor-quinaria:#737380;
    --cor-senaria:#F6F6F6;
    --cor-septenaria:#BCBCBC;

    --fonte: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--fonte);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.tela-inicio {
    background-color: var(--cor-quartenaria);
}

.tela-inicio, .tela-cadastro, .tela-home, .tela-login, .tela-mensagem, .tela-perfil {
    background-image: url(../img/Forma_1.svg);
    background-repeat: no-repeat;
    background-size: 352px auto;
    background-position: top left;
    
}

main {
    background-image: url(../img/Forma_2.svg);
    background-repeat: no-repeat;
    background-size: auto 415px;
    background-position: center right;
    padding: 40px 0 0 0;
}

@media (min-width:768px) {
    .tela-inicio, .tela-cadastro, .tela-home, .tela-login, .tela-mensagem, .tela-perfil {
        background-size: 560px auto;
    }

    main {
        padding-top: 100px;
    }
}

