.cabecalho__menu {
    justify-content: space-around;
}

.texto {    
    text-align: center;
}

.texto p {
    color: var(--cor-quartenaria);
    font-size: 1rem;
    padding: 20px 56px 0;
    font-weight: 400;
}


.cards__item {
    display: flex;
    justify-content: center;
    background-color: var(--cor-senaria);
    margin-top: 20px;
    padding: 20px 0;
}

.cards__item img {
    height: 148px;
    width: auto;
}

.cards__item-descricao {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards__item-titulo {
    color: var(--cor-quartenaria);
    font-size: 0.9rem;
    font-weight: 600;
}

.cards__item-informacoes {
    color: var(--cor-quinaria);
    font-size: 0.8rem;
    font-weight: 400;
}

.cards__item-contato {
    color: var(--cor-quinaria);
    font-size: 0.7rem;
    font-weight: 400;
}

.cards__item-contato a {
    color: var(--cor-quinaria);
    text-decoration: none;
}

.cards__item-contato a::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url("../img/ícone_mensagem.svg") no-repeat center center;
    background-size: cover;
    margin-right: 5px;
    vertical-align: middle;
}