.logo {
    text-align: center;
}

.logo img{
    display: inline-block;
}

.titulo {
    text-align: center;
}

.titulo h1 {
    font-size: 1.44rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    padding-top: 20px;
}

.texto {    
    text-align: center;
}

.texto p {
    color: var(--cor-secundaria);
    font-size: 1rem;
    padding: 20px 56px 0;
    font-weight: 400;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

.botoes__ancora {
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    text-align: center;
    border: solid 1px var(--cor-terciaria);
    border-radius: 10px;
}

.botoes__ancora a {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    
}
